<md-content layout-fill flex>
  <md-list>
    <md-subheader>General</md-subheader>
    <md-list-item ng-repeat="(key, value) in settingsObj">
      <p>{{key}}</p>
      <md-switch aria-label="{{key}}" ng-model="settingsObj[key]" ng-change="onChange(key, value)"></md-switch>
    </md-list-item>  

    <md-subheader>Account</md-subheader>
    <md-list-item ng-click="deleteHistory()">
      <p>Delete account history</p>
    </md-list-item>
    <md-list-item ng-click="logout()">
      <p>Log out</p>
    </md-list-item>

    <md-subheader>Support</md-subheader>
    <md-list-item ng-click="showTermsAndConditions()">
      <p>Terms & Conditions</p>
    </md-list-item>

    <md-list-item ng-click="reportError()">
      <p>Report Error</p>
    </md-list-item>

    <md-list-item>
      <p>Version</p>
      <small>beta 0.1</small>
    </md-list-item>


  </md-list>
</md-content>