<md-content>
  <md-list>
    <md-subheader>General</md-subheader>
    <md-list-item>
      <md-icon md-svg-icon="bleh"></md-icon>
      <p>Test setting</p>
      <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    </md-list-item>
    <md-list-item>
      <md-icon md-svg-icon="bleh"></md-icon>
      <p>Test setting</p>
      <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    </md-list-item>
    <md-subheader>Account</md-subheader>
    <md-list-item>
      <md-icon md-svg-icon="bleh"></md-icon>
      <p>Test setting</p>
      <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    </md-list-item>
    <md-list-item>
      <md-icon md-svg-icon="bleh"></md-icon>
      <p>Test setting</p>
      <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    </md-list-item>
  </md-list>
</md-content>