.outer-ring {
	width:350px;
	height:350px;
	border-radius:100%;
	background:#DDD;
	padding:15px;
	margin:0 auto;
}

.middle-ring {
	width:320px;
	height:320px;
	border-radius:100%;
	background:#FF3D00;
	padding:20px
}

.magic-button {
	margin:20 auto;
	width:280px;
	height:280px;
	border-radius:100% !important;
	background:#DD2C00
}