<md-toolbar class="md-tall" scroll-shrink>
	<span class="md-toolbar-tools md-toolbar-tools-top" flex layout="row">
		<md-button ng-click="appController.openMainMenu()" aria-label="Open main menu">
			<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
		</md-button>
	</span>
	<span class="md-toolbar-tools" flex layout="row">
		<h2>emoment</h2>
	</span>
</md-toolbar>

<md-content>
	<p style="text-align:center;">Push the button to capture your moment</p>

	<div class="outer-ring">
		<div class='middle-ring'>
			<md-button class='md-fab magic-button' style="margin:20 auto;
	width:280px;
	height:280px;
	background:#DD2C00" ng-click="startStreamingMicrophone()"></md-button>
		</div>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong>{{error}}</strong>
	</div>
</md-content>
