<md-toolbar scroll-shrink>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="appController.openMainMenu()" aria-label="Main Menu">
			<md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
		</md-button>
		<h2>emoment</h2>
		</div>
</md-toolbar>

<md-content>
	<p style="text-align:center;">Push the button to capture your moment</p>

	<div class="outer-ring">
		<div class='middle-ring'>
			<md-button class='md-fab magic-button' style="margin:20 auto;
	width:280px;
	height:280px;
	background:#DD2C00" ng-click="startStreamingMicrophone()"></md-button>
		</div>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong>{{error}}</strong>
	</div>
</md-content>
