<md-content flex layout="column" layout-align="center center" style="background:#B6B6B6 !important;">
 <md-card layout-margin style="background:#FFFFFF">
  <md-card-content layout="column" layout-align="start center">
	  <h1 class="md-display-3">emoment</h1>
    <md-progress-circular ng-if="login.loadingIndicator" md-mode="indeterminate"></md-progress-circular>
    <br/>
	  <md-button class="md-primary md-red-theme ng-click-active"
               style="border: 2px solid #D32F2F; padding: 0 20px;"
               ng-click="login.authenticate('twitter')">
      <h3><img src="/assets/images/twitter.svg" />Sign in with Twitter</h3>
    </md-button>
  </md-card-content>
  <md-card-footer layout="row" layout-align="center end">
    capture the moment...<br><br>
  </md-card-footer>
 </md-card>
</md-content>
