<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2"  md-swipe-left="vm.toggleSidebar()" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-if="! vm.state.is('login')">
  <md-toolbar class="md-tall md-accent">
    <div layout="column">
      <div id="emoment" style="background:url('/assets/images/logo-emoment.svg') no-repeat; width:510px; height:510px; position: relative; top:-140px;"></div>
      <div ng-bind="vm.user.user.twitter.displayName">Jan Jansen</div>
    </div>
  </md-toolbar>
  
  <md-list style="position: relative; bottom:20px; z-index: 1;">
    <md-item ng-repeat="item in vm.menu" layout="column" >
      <md-button class="md-button" ng-href="{{item.link}}" ng-click="vm.toggleSidebar()">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
          <div class="inset">
            <md-icon class="material-icons">{{item.icon}}</md-icon>
          </div>
          <div class="inset">
            <h3>{{item.title}}</h3>
          </div>
        </md-item-content>
      </md-button>
    </md-item>
  </md-list>
</md-sidenav>
