<md-virtual-repeat-container flex layout='column' layout-fill>
  <md-tabs md-dynamic-height='true' flex>
    <md-tab id="mymoments" md-stretch-tabs="always">
      <md-tab-label>MyMoments</md-tab-label>
      <md-tab-body>
        <md-list>
           <md-list-item class="md-3-line" ng-repeat="post in usermoments | orderBy : 'timestamp':true">
             <img ng-src="{{post.profilePicture}}" class="md-avatar" alt="{{post.username}}" />
             <div class="md-list-item-text" layout="column">
               <h3>{{post.fingerprint}}</h3>
               <!--<h4><b>{{post.hashtags}}</b></h4>-->
               <p>#emoment</p>
               <md-chips readonly="true" ng-model="post.hashtags">
                 <md-chip-template>
                   {{$chip}}
                 </md-chip-template>
               </md-chips>
             </div>
           </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>

    <md-tab id="worldmoments" md-stretch-tabs="always">
      <md-tab-label flex>WorldMoments</md-tab-label>
      <md-tab-body>
        <md-list>
           <md-list-item md-virtual-repeat="post in friendsmoments | orderBy : 'timestamp':true" class="repeated-item md-3-line" flex>
             <img ng-src="{{post.profilePicture}}" class="md-avatar" alt="{{post.username}}" />
             <div class="md-list-item-text" layout="column">
               <h3>{{post.fingerprint}}</h3>
               <!--<h4><b>{{post.hashtags}}</b></h4>-->
               <p>#emoment</p>
               <md-chips readonly="true" ng-model="post.hashtags">
                 <md-chip-template>
                   {{$chip}}
                 </md-chip-template>
               </md-chips>
             </div>
           </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-virtual-repeat-container>
