<md-dialog aria-label="Create a new moment" id="moment-create">

  <md-toolbar class="md-accent">
    <h3 class="md-toolbar-tools">
      Share this moment
    </h3>
  </md-toolbar>
  <md-dialog-content>
    <section class="section slim">
      <div layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <p>We're in our time machine searching for you moment...</p>
      <hr/>
      <strong ng-bind="currentMedia"></strong>
    </section>

    <form name="createForm">

      <section class="section" layout="column">

				<span layout="row" layout-sm="column">
          <md-chips
          ng-model="hashtags"
          placeholder="Enter a tag"
          delete-button-label="Remove Tag"
          delete-hint="Press delete to remove tag"
          secondary-placeholder="+Tag"></md-chips>

				</span>

      </section>

    </form>

      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="create.closeDialog()">Cancel</md-button>
        <md-button ng-disabled="createForm.$invalid" ng-click=" create.postEmoment()" class="md-primary md-raised">
          Create moment
        </md-button>
      </div>
    </md-dialog-content>
</md-dialog>
